<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  .jumbotron{
    margin-bottom: 0px;
  }
</style>
<body>
  {% include "quiz/navbar.html" %}
<br>
<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h1 class="display-1 text-info">Quizni boshlang</h1>
    <p class="display-4 d-none d-sm-block">Testni Boshlang</p>
    <p class="lead">Biz quizlarni sizning bilimingizni mustahkamlash uchun yozganmiz!</p>

    

    <p class="lead">Agar akauntingiz bo`lmasa Akaunt yarating, aks holda tepadagi menu orqali Kiring (Kirish menusi)</p>
    <p><strong> Boshlang:</strong></p>
    <a href="/student/studentsignup" class="btn btn-lg btn-info" style="padding-right: 35px;"><i class="fa fa-user-plus" aria-hidden="true"></i> Akaunt yaratish</a>
    
    <br><br><br>
  </div>  
</section>
  {% include "quiz/footer.html" %}


</body>

</html>
